@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway|Poiret+One|Roboto+Mono|Righteous|Russo+One|Dancing+Script');

/*font-family: 'Roboto Mono', monospace;
font-family: 'Poiret One', cursive;
font-family: 'Bangers', cursive;*/
/*font-family: 'Dancing Script', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Catamaran|IM+Fell+English+SC|Spirax');

/*font-family: 'Alex Brush', cursive;
font-family: 'Spirax', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Catamaran', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, body, pre, p, div, footer {
 font-family: 'Raleway', cursive;
}

p {
	font-size: 1.2rem;
	text-align: justify;
}


body {
	background-color: #f9fafc;
}
.img-responsive-nav {
	width: 50%;
}

.hide {
	display: none;
}

.list-item:first-child {
    border-top: 35px solid #565353;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.list-item:last-child {
    border-bottom: 35px solid #565353;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.list-item {
    background-color: #f1f1f1;
    margin-right: 45%;
    text-align: center;
    list-style: none;
    padding: 0.75rem;
}


.qoute-highlight {
	font-size: 7rem;
	font-family: 'Righteous', cursive;
}

.text-center:first-child {
	font-size: 3rem;
	font-family: 'Poiret One', cursive;
}

.qoutes {
	font-family: 'Spirax', cursive;
	font-size: 12rem;
}


.todo-header , .selfhelp-header, .moto-header, 
.gratitude-journal-header,
.success-stories-header {
	font-size: 3rem;
	font-family: 'Poiret One', cursive;
}

.tag-line {
	font-size: 1rem;
	display: inline-block;
	font-family: 'Righteous', cursive;

}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.2rem;
    font-size: 1rem;
    line-height: 1.5;
}


.vid-container {
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px; 
	height: 0; 
	margin-right: 10px;
}

.wrapper {
	text-align: center;
}
.button {
    position: absolute;
}

.vid-container iframe,
.vid-container object,
.vid-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#vid_frame {
	width: 102%;
}

.vid-list-container {
    width: 92%;
    overflow: hidden;
    margin-left: 4%;
    background-color: #e6e6e6;
}

.vid-list {
	width: 1344px;
	position: relative;
	top:0;
	left: 0;
}

.vid-item {
	display: block;
	width: 148px;
	height: 148px;
	float: left;
	margin: 0;
	padding: 10px;
}

.thumb {
	overflow:hidden;
	height: 70px;
}

.thumb img {
	width: 100%;
	position: relative;
	top: -13px;
}

.desc {
    color: black;
    font-size: 1.5rem;
    font-family: 'Poiret One', cursive;
}

.vid-item {
	color: #21A1D2;
	font-size: 15px;
	margin-top:5px;
}

.arrows {
	position:relative;
	width: 100%;
}

.arrow-left {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 10px;
	left: -5px;
	top: -100px;
	z-index: 100;
	cursor: pointer;
}

.arrow-right {
	color: #fff;
	position: absolute;
	background: #777;
	padding: 10px;
	right: -5px;
	top: -100px;
	z-index:100;
	cursor: pointer;
}

@media (max-width: 624px) {
	.arrows {
		position:relative;
		margin: 0 auto;
		width:96px;
	}
	.arrow-left {
		left: 0;
		top: -20px;
	}

	.arrow-right {
		right: 0;
		top: -20px;
	}
	#vid_frame {
	width: 102.1%;
	}
}

.row-photo-grid {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 2rem;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

.img-responsive {
	width: 100%;
	height: auto%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}


.p-highlight {
	font-size: 1.3rem;
}

.wrapper {
	padding-top: 2rem;
	position: relative;
}

.your-hustle-story {
	font-family: 'Roboto Mono', monospace;
	font-size: 1.3rem;
}

.btn-primary {
    color: #fff;
    background-color: #6c5bfb;
    border-color: #6c5bfb;
    padding: 0.5rem 2rem;
    align-self: center;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff !important;
    background-color: #594cc5 !important;
    border-color: #594cc5 !important;
    padding: 0.5rem 2rem !important;
    box-shadow: none !important;
}

.padding {
	padding-bottom: 2rem;
}

/*.svg-inline--fa {
    display: inline-block;
    font-size: 2rem;
    margin-left: 30px;
    transform: translateX(50px);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}*/

.svg-inline--fa {
    display: inline-block;
    font-size: 2rem;
    margin-left: 10px;
    transform: translateX(-5px);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}


button.close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    transform: translateX(-8rem);
}

.gratitude-list {
	transform: translateX(-90%);
}
#last-div {
    background: #330044;
    padding: 5%;
	 background: linear-gradient(to bottom right, #330044, #f1d384);
}

.modal-header .close {
    padding: 1rem !important;
    margin: -1rem 17rem -1rem auto !important;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    transform: translateX(-90%);
}